:root {
    --background-color: #1a1c20;
    --font-color: white;
}

[theme="dark"] {
    --background-color: #1a1c20;
    --font-color: white;
    --card-color: white;
    --lamp-color: #f9813a;
}

[theme="light"] {
    --background-color: white;
    --font-color: #1a1c20;
    --card-color: #1a1c20;
    --lamp-color: white;
}